<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <title>Net Calc</title>
    </head>
    <body>
        <h1>Subnet Calculator</h1>

        <p>Read the RFCs</p>
        <p>
            <a href="https://datatracker.ietf.org/doc/html/rfc5735.html" target="_blank" rel="noopener noreferrer">Special Use IPv4 Addresses - rfc5735</a>
        </p>
        <p>
            <a href="https://datatracker.ietf.org/doc/html/rfc5156" target="_blank" rel="noopener noreffer">Special-Use IPv6 Addresses - rfc5156</a>
        </p>

        <p>
            Enter an IPv4/IPv6 CIDR (e.g. 10.0.1.5/16, 2000::/4)
        </p>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <b>{{ message }}</b>
            </div>
        {% endfor %}

        <form action="/" method="post">
            <label for="cidr">CIDR: </label>
            <input type="text" name="cidr" id="cidr" value="{{ input_cidr | default('') }}">
            <button type="submit">Calculate</button>
        </form>

        <script>
            // set focus on input field
            document
                .getElementById("cidr")
                .focus();
        </script>

        <hr/>
        {% if show_table != False %}
            <table>
                <tr>
                    <td>IP Address</td>
                    <td>{{ data.ip_address | default('') }}</td>
                </tr>
                <tr>
                    <td>CIDR</td>
                    <td>{{ data.cidr | default('') }}</td>
                </tr>
                <tr>
                    <td> Network Address</td>
                    <td>{{ data.network_address | default('') }}</td>
                </tr>
                <tr>
                    <td>Usable Host IP Range</td>
                    <td>{{ data.usable_address_range | default('') }}</td>
                </tr>
                <tr>
                    <td>Broadcast Address</td>
                    <td>{{ data.broadcast_address | default('') }}</td>
                </tr>
                <tr>
                    <td>Total Number of Hosts</td>
                    <td>{{ data.total_num_hosts | default('') }}</td>
                </tr>
                <tr>
                    <td>Number of Usable Addresses</td>
                    <td>{{ data.num_usable_hosts | default('') }}</td>
                </tr>
                <tr>
                    <td>Subnet Mask</td>
                    <td>{{ data.subnet_mask | default('') }}</td>
                </tr>
                <tr>
                    <td>Binary Subnet Mask</td>
                    <td>{{ data.binary_subnet_mask | default('') }}</td>
                </tr>
                <tr>
                    <td>Private/Public</td>
                    <td>{{ data.private_public | default('') }}</td>
                </tr>
                <tr>
                    <td>Reverse PTR</td>
                    <td>{{ data.in_addr_arpa | default('') }}</td>
                </tr>
                <tr>
                    <td>IPv4 Mapped</td>
                    <td>{{ data.ipv4_mapped | default('') }}</td>
                </tr>

            </table>

        {% endif %}

    </body>
</html>